<style>

/* DIV Layout
===================== */
.container {
	width: 1200px;
}

#contentArea {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#questionBox {
	height: 600px;
	width: 750px;
	float: left;
	box-sizing: border-box;
	border: 1px solid black;
}

#rightSidebar {
	width: 300px;
	float: right;
}
</style>

<script>

</script>

<div id="contentArea">
	
	<section id="questionContent">
		
		<div id="questionBox">
			<div id="questionText">
			</div> <!-- questionText -->
			<div id="choices">
			</div> <!-- choices -->		
		</div> <!-- questionBox -->
		
		<div id="rightSidebar">
			
			<div id="questionInfo">
				<h1>Testlet 2</h2><br />
				<h2>Question 5</h2><br />
				<h3>Topic: Stock Transactions</h3>
				<h3>SubTopic: Treasury Stock</h3><br />
			</div> <!-- questionInfo -->
			
			<div id="timer>">	
				<h2>Timer</h2>
				<p>15:32</p>
			</div> <!-- timer -->
			
			<div id="runningScore">
				<h3>Correct: 15</h3>
				<h3>Incorrect: 7</h3>
			</div> <!-- runningScore -->
		</div>	<!-- rightSidebar -->
			
	</section> <!-- questionContent -->
	
	<section id="pagination">
		
	</section> <!-- pagination -->			
	
</div>	