<div id="rightSidebar">
	
	<div id="questionInfo">
		<h1>Question <span class='questionNumber'>1</span></h1>
		<h3 class="alert alert-info"><span class='topicName'><%= @questions.first.topic.name %></span></h3>
		<h4><span class="questionSource hidden"><%= @questions.first.source %></span></h4>
		<!-- <h4><span class='subTopicName'>None</span></h4> -->
	</div> <!-- questionInfo -->
	
	<table id="runningScore">
		<tr><th>Correct</th><th>Incorrect</th></tr>
		<tr><td class="correctArea"><span class="correctAnswers">0</span></td><td class="wrongArea"><span class="wrongAnswers">0</span></td></tr>
	</table><!-- runningScore -->	

</div>	<!-- rightSidebar -->