<div id="contentArea">

  <section id="questionContent">
		
		<%= render 'question_box' %>
		
		<%= render 'right_sidebar' %>
			
	</section> <!-- questionContent -->

<%= render 'pagination' %>

</div>