<table id="statsTable" class="table">
	<tr><th colspan='3'>Recent Tests</th></tr>
	<% @user.user_tests.reverse.each_with_index do |finished_test, index| %>
		<% if index < 3 %>
	<tr><td><%= finished_test.section.code %></td><td><%= finished_test.score %></td><td><%= "#{time_ago_in_words(finished_test.updated_at)} ago".sub("about", "") %></td></tr>
		<% end %>
	<% end %>
	<tr><th colspan='3'>Best Topics</th></tr>
	<tr><th colspan='3'>Worst Topics</th></tr>
</table>	