<div id="wrapper">

	<div id="sectionContainer">
	<% @sections.each do |section| %>
	  <div class="section">
		<a href="/sections/<%= section.id %>" id="<%= section.code %>"><img src="assets/<%= section.code %>_logo.jpg" /></a>	
	  </div> <!-- section -->
	<% end %>
	</div> <!-- sectionContainer -->

<div id="subNavBar">
	<h3 id="sectionName"></h3>
</div> <!-- subNavBar -->

</div> <!-- wrapper -->