<style>
table {
	margin-top: 25px;
}
</style>

<table class="table table-bordered">
	<tr><th colspan='2'>FAR</th></tr>
	<tr><td><%= link_to 'Bond Present Value Calculator', sandbox_bond_url %></td>
		<td>Calculate the present value and amortization tables related to a bond issue</td>
	</tr>
	<tr><td><%= link_to 'Stock Journal Entry Wizard', sandbox_stock_url %></td>
		<td>Generate the journal entries for various stock related transactions</td>
	</tr>
</table>	