<style>
.container {
	width: 900px;
	height: 100px;
}

#subHeader {
	position: relative;
	left: 0px;
	height: 100%;
	width: 250px;
	float: left;
}

#subHeader h2 {
	margin-top: 25px;
	text-align: center;
}

#subHeader h3 {
	text-align: center;
}

#subHeader button {
	position: relative;
	display: block;
	margin: 10px auto 0 auto;
}

#otherActions {
	display: none;
}

#issueStockTable {
	margin-top: 25px;
	display: none;
	opacity: 0;
}

.label {
	font-size: 16px;
	text-shadow: 3px 3px 3px #333;
}
</style>

<script>	
var $subHeader = $("#subHeader");
$subHeader.append("<h2>Available Actions</h2>");
$subHeader.append("<button id='issueStockButton' class='btn btn-inverse'>Issue Stock</button>");
$subHeader.append("<div id='otherActions'><button id='buyBackStockButton' class='btn btn-inverse'>Buy Back Stock</button><button id='declareDividendButton' class='btn btn-inverse'>Declare Dividend</button><button id='splitStockButton' class='btn btn-inverse'>Split Stock</button></div>");
$subHeader.append("<h2>Shares Outstanding</h2>");
$subHeader.append("<h3 id='sharesOutstanding'>0</h3>");

$(function() {

$(document).on("click", "#issueStockButton", function() {
	$("#issueStockTable").show().animate({opacity: 1},300);
});

$(document).on("click", "#issueIssueCostsOn", function() {
	if($("#issueIssueCosts").attr("disabled")) {
		$("#issueIssueCosts").removeAttr("disabled");
	} else {
		$("#issueIssueCosts").attr("disabled", "disabled");
	}
});

});
</script>

<%= form_tag '/stock/issue', :id => 'issueStockForm', :remote => true do %>
<table id="issueStockTable" class="table table-bordered">
	<tr><th colspan='3'>Lets Issue Some Stock!</th></tr>
	<tr><td colspan='2'>Stock Type:</td><td><select id="issueStockType" name="issueStockType"><option value="commonStock">Common Stock</option><option value="preferredStockParticipating">Preferred Stock - Participating</option><option value="preferredStockCumulative">Preferred Stock - Cumulative</option><option value="preferredStockConvertible">Preferred Stock - Convertible</option><option value="preferredStockCallable">Preferred Stock - Callable</option></select></td></tr>
	<tr><td colspan='2'>Number of Shares</td><td><input id='issueNumberOfShares' name="issueNumberOfShares" type='text' class='medium' /></td></tr>
	<tr><td colspan='2'>Par Value</td><td><div class="input-prepend"><span class="add-on">$</span><input id='issueParValue' name="issueParValue" type='text' class='small' /></div></td></tr>
	<tr><td colspan='2'>Market Price per Share</td><td><div class="input-prepend"><span class="add-on">$</span><input id='issueMarketPrice' name="issueMarketPrice" type='text' class='small' /></div></td></tr>
	<tr><td><input id="issueIssueCostsOn" type="checkbox"><td>Issue Costs</td><td><div class="input-prepend"><span class="add-on">$</span><input id='issueIssueCosts' name="issueIssueCosts" type='text' class='small' disabled/></div></td></tr>
	<%= hidden_field_tag 'issueSharesOutstanding', '0' %>
	<tr><td colspan='3'><%= submit_tag 'Issue Stock', :class => 'btn btn-danger' %></td></tr>
</table>
<% end %>

<div id="journalEntries">
</div>	