// Example using 'Cerulean' bootswatch
//
// First import journal variables
@import "bootswatch/spacelab/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/spacelab/bootswatch";

@import "sections";

@import "user_test";

/* NAV BAR
===================== */

#navMyProfile {
	margin-left: 350px;
}

#navSignIn {
	margin-left: 500px;
}

@media all and (max-width: 1150px) and (min-width: 0px) {
	#navMyProfile, #navSignIn {
		margin-left: 0px;
	}
}

.nav, .navbar, .navbar-inner {
	min-width: 960px;
}

.brand {
	margin-left: 25px !important;
	margin-right: 25px !important;
}
/*x NAV BAR x*/

body { 
	padding-top: 40px; 
	overflow-x: hidden;
	background: url('lightpaperfibers.png');
}

.container { 
	margin: 0 auto;
	width: 960px;
	position: relative;
}

/* JDL STYLE
===================== */
.hidden {
	display: none;
}

.flashNotice {
	text-align: center;
	z-index: 5;
	position: absolute;
	width: 100%;
}
