/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* NAV BAR
===================== */
#navWrapper {
	min-width: 960px;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	height: 40px;
	position: relative;
}

.jdlNav {
	list-style-type: none;
	height: 100%;
}

a.brand {
	font-family: 'Marmelad', sans-serif;
	position: relative;
	left: 50px;
}

.jdlNav a {
	font-family: 'Marmelad', sans-serif;
	display: inline;
	float: left;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
}

.jdlNav li.first a {
	padding-left: 15px;
}

.jdlNav li.last a {
	padding-right: 15px;
}

.jdlNav a:hover {
	text-decoration: none;
}
/*x NAV BAR x*/

body { padding-top: 60px; }

.container { 
	margin: 0 auto;
	width: 960px;
	position: relative;
}

/* JDL STYLE
===================== */
.hidden {
	display: none;
}
