<style>
.container {
	margin-top: 25px;
}

p {
	font-family: 'Droid Sans', sans-serif;
}
</style>

<script>
$(function() {
	$("#navContact").addClass("active");
});
</script>

<h1>Contact CPA Revolution</h1>
<hr />

<p>CPA Revolution is an accounting website created by <a href="http://www.linkedin.com/profile/view?id=127964302">Jordan Leigh</a> with the mission of using technology to make accounting more engaging to prospective students</p>
<hr />

<a href="https://twitter.com/AlwaysBCoding" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @AlwaysBCoding</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<hr />
<h3>CPARevolution@gmail.com</h3>
