<style>
.container {
	margin-top: 25px;
}

ul {
	list-style-type: none;
}
</style>

<script>
$(function() {
	$("#navInfo").addClass("active");
});
</script>

<ul>
	<li><a href="<%= root_url %>states">State Licensure and Application Information</a></li>
<ul>	