<style>
#headerStripe {
}
</style>

<div id="headerStripe">
	<h1>Welcome to CPA Revolution</h1>
</div>	

<div>
	Practice CPA Exam Questions from Every Topic
	Generate Full Length CPA Tests to practice from
	Have any questions about the exam answered in our forums
	Mess around with some javascript accounting widgets in our sandbox
</div>	